<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello_yy</title>
    <style>
        *{
            margin:0px;
            padding:0px;
        }
        .box{
            width:300px;
            margin:0px auto;
            border:1px solid #ccc;
        }
        p{
            font-size: 15px;
            color:blue;
        }
        img{
            width:100px;
            height:100px;
        }
        table{
            border-color: #ccc;
            width:300px;
            text-align: center;
            margin:0px auto;
        }
    </style>
</head>
<body>
    <div class="box">
        <p>海尔兄弟</p>
        <p>打雷要下雨 雷欧~~~</p>
        <p>下雨要打伞 雷欧~~~</p>
        <p>天冷穿棉袄 雷欧雷 诶呦~~~</p>
        <p>天热扇扇子 </p>
        <p>岂不就是</p>
        <p>这么简单~~~</p>
        <img src="/static/yy.png">
    </div>
    <div>
        <table border="1px" cellspacing="0px" border-color = "green" >
            <thead>
                <tr style="height:15px;">
                    <td>id</td>
                    <td>部门</td>
                    <td>部门描述</td>
                </tr>
            </thead>
            <tr>
{#                    info#}
                    <td>{{ id }}</td>
                    <td>{{ title }}</td>
                    <td>{{ note }}</td>
                </tr>
            <tr>
{#                    info#}
                    <td>{{ id }}</td>
                    <td>{{ title }}</td>
                    <td>{{ note }}</td>
            </tr>
            <tr>
{#                    info#}
                    <td>{{ id }}</td>
                    <td>{{ title }}</td>
                    <td>{{ note }}</td>
            </tr>
        </table>
    </div>

</body>
</html>